# Server-only (used by API routes, never shipped to browser)
AMOY_RPC_URL=https://polygon-amoy.g.alchemy.com/v2/<KEY>
ISSUER_PRIVATE_KEY=0x...
CONTRACT_ADDRESS=0x619AEdAaed89B85288B9e11131684321f0E7574a

# Public (safe to ship to browser, prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_CONTRACT_ADDRESS=0x619AEdAaed89B85288B9e11131684321f0E7574a
NEXT_PUBLIC_AMOY_RPC_URL=https://rpc-amoy.polygon.technology
